.idea
node_modules
.next
.git
.gitignore
.gitkeep
Dockerfile
dev.Dockerfile
compose.dev.yml
compose.dev.override.yml
template.compose.dev.override.yml
README.md
*.log
*.env
*.env.example
neext-env.d.ts